aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
asgiref
attrs
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
Flask
frozenlist
gunicorn
h11
idna
itsdangerous
Jinja2
MarkupSafe
multidict
packaging
propcache
pydantic
pydantic_core
python-dotenv
requests
soupsieve
starlette
typing-inspection
typing_extensions
urllib3
Werkzeug
yarl
